{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3> {{ message_result }}</h3>
        <p><a href="{{ homepage }}"></a></p>
        <p><a href="{{ send_another_message }}"></a></p>
    </div>
{% endblock %}


